# Python & Data Project Ignore
*.csv
*.xlsx
*.pkl
*.db
*.zip
*.log

# Python cache
__pycache__/
*.pyc
*.pyo

# Jupyter and IPython
.ipynb_checkpoints/

# Environments and dependencies
*.env
.venv/
env/
venv/
*.egg-info/

PyCharm settings
.idea/

# Data outputs
data/cleaned/
data/processed/


# OS-specific
.DS_Store
Thumbs.db

# Power BI
*.pbix
*.pbit
*.pbix.zip


